/* HERO PARA LA SECCIÓN INVESTIGACIONES */

.container__hero {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    text-align: justify;
    padding: 0 16px;
}

.investigaciones-hero {
    background-color: var(--dark);
    background-image: image();
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 5px solid var(--orange);
}

.background_img-cyd {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../assets/images/crecimiento_desarrollo.webp");
    background-size: cover;
    background-position: center;
    color:#fff
}

.background_img-sm {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("#");
    background-size: cover;
    background-position: center;
    color:#fff
}

.background_img-cv {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("#");
    background-size: cover;
    background-position: center;
    color:#fff
}

.investigaciones-hero__resume {
    background-color: var(--with);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.investigaciones-hero__title {
    font-family: var(--font-ui);
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: -0.5px;
}

.investigaciones-hero__title-resume {
    font-family: var(--font-ui);
    color:black;
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}

.investigaciones-hero__subtitle {
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 0.9;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
}

.investigaciones-hero__subtitle-resume {
    font-family: var(--font-text);
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.9;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
}